.backdrop__textarea--size {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: black;
  height: 120px;
  width: 448px;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border-color: $colorAccent;
    outline: none;
  }
}
