.backdrop__button--send {
  font-weight: 700;
  font-size: 16px;
  background-color: $colorAccent;
  cursor: pointer;
  height: 50px;
  width: 200px;
  border: none;
  color: #eeeeee;
  position: absolute;
  bottom: 40px;
  left: 164px;
}

.backdrop__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.backdrop__button--style {
  fill: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding-right: 2px;
}
