.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 9px;
  align-items: center;

  &--place {
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    padding-top: 20px;
  }

  &--link {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    padding-top: 9px;

    &:hover,
    &:focus {
      color: $colorAccent;
      transition-duration: $transitionDuration;
      transition-timing-function: $transitionTiming;
    }
  }
}
@media (min-width: 768px) {
  .footer__contact {
    margin-left: 76px;
  }
}

@media (min-width: 1200px) {
  .footer__contact {
    align-items: flex-start;
  }
}
