$colorBackground: #2f303a;
$colorAccent: #2196f3;
$containerWidth: 480px;
$containerWidthTablet: 768px;
$containerWidthDesktop: 1600px;
$sectionWidth: 450px;
$transitionDuration: 250ms;
$transitionTiming: cubic-bezier(0.4, 0, 0.2, 1);
